# Python virtual environment
venv/
.venv/
env/

# Python bytecode and cache
__pycache__/
*.pyc

# Environment variables (Sensitive data)
.env

# System files
.DS_Store

# Ignore local systemd service files
*.service
# But allow the template
!*.service.example

# API Keys never pushed to github
.env

# DNS Verification
verify_dns.py

# Ignore Azure SSH private keys
*.pem